<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">   
	<title></title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	
<div class="tete">
	<div class="container">
	   <div class="row">
	   <div class="col-sm">
           <p class="white">LES RESEAUX SOCIAUX</p>
        </div>
		<div class="col-sm">	
           <img src="img/fb.png" class="right">
           <img src="img/twitter.png" class="right">         
           <img src="img/instagram.png" class="right">
           <img src="img/whatsapp.png" class="right">
        </div>
        </div>
    </div>
</div>

<nav class="navbar  navbar-fixed-top  navbar-expand-lg navbar-light bg-light ">
 <div class="container">
  <a class="navbar-brand" href="#"><img src="img/logo.png" class="image"></img></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav ml-auto">
           <li class="nav-item active">
             <a class="nav-link" href="index.html">ACCUEIL</a>
           </li>
           <li class="nav-item active">
             <a class="nav-link" href="activité.html">NOS&nbsp;ACTIVITÉS</a>
           </li>
           <li class="nav-item active">
             <a class="nav-link" href="index.html">ÉVÉNEMENTS</a>
           </li>
           <li class="nav-item active">
             <a data-scroll class="nav-link js-scroll" href="index.html#apropos">A&nbsp;PROPOS</a>
           </li>
           <li class="nav-item active">
             <a class="nav-link" href="contact.html">CONTACT</a>
           </li>
         </ul> 
           <button type="button" class="btn login"><a href="login.html" style="color: white;">LOGIN</a></button>
        </div>
  </div>
</nav>


<div class="formulaire"><br><br><br><br><br>
   <div class="container">
   	<div class="row">
           <div class="col-sm">
              <h1>CONTACT</h1><br>
              <img src="img/telephone1.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+216 71 888 756<br><br>
              <img src="img/printer.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+216 71 888 757<br><br>
              <img src="img/enveloppe.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;contact@sahtekawla.com<br><br>
              <img src="img/address.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;16 Rue Jean Jaurés Tunis
           </div>
           <div class="col-sm">
           	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d798.6571412452823!2d10.183051544212672!3d36.803455078785596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sar!2stn!4v1543133338758" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
           	
           </div> 
   	    </div>
   </div><br><br><br><br><br>
</div>


<div class="footer"><br>
	<div class="container partenaires">
       <div class="row">
	<h1 class="col-lg">NOS PARTENAIRES</h1>
</div>
</div>
	<div class="container"><br>
		<div class="row">
			<img src="img/oms.svg" class="image5 col-lg-3">
			<img src="img/CRTLogo.png" class="image2 col-lg-3">
			<img src="img/logo-carthagene.svg" class="image4 col-lg-3">
			<img src="img/ooredoo.png" class="image3 col-lg-3">	
		</div>
	</div><br>
</div>

    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/smooth-scroll.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>